<!DOCTYPE html>
<html>
  <head>
    <title>StripeSubscription</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <%= link_to "Home", root_path %> | 
      <%= link_to "Users", users_path %> | 
      <% if user_signed_in? %>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign In", new_user_registration_path %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
